@mixin b-style {
  font-weight: 700;
  color: #000;
}

@mixin rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

@mixin moon-dance-regular {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

@mixin cantarell-regular {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;

  b {
    @include b-style;
  }

  strong {
    @include b-style;
    border-radius: 1em 0 1em 0;
    background: #FFEA54;
  }

  .mark {
    @include b-style;
    background: linear-gradient(90deg, #FFEA54 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    border-radius: 1em 0 1em 0;
    background-position: 100% 0;
    transition: background-position 0.4s ease;
  }

  .mark:hover {
    background-position: 0 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

section {
  min-height: 100vh;
  position: relative;
}

* {
  font-size: 1rem;
  @include cantarell-regular;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 6rem;
  @include rammetto-one-regular;
}

h2 {
  font-size: 3rem;
  @include moon-dance-regular;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.1rem;
}

p,
span {
  font-size: 1rem;
}

.small {
  font-size: 0.85rem;
}

// pour petits écrans
@media (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  // h5 {}

  // p,span {}

  // .small {}
}

// pour tablettes
@media (max-width: 1400px) and (min-width: 768px) {
  strong {
    font-size: medium;
  }

  * {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  // h5 {}

  p,span {
    font-size: 1.1rem;
  }

  // .small {}
}

// pour laptop
@media (min-width: 1536px) {
  * {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 6.3rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.6rem;
  }


  h5 {
    font-size: 1.4rem;
  }

  p,
  span {
    font-size: 1.2rem;
  }

  .small {
    font-size: 1rem;
  }
}


// pour grands écrans
@media (min-width: 2400px) {

  * {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 7.7rem;
  }

  h2 {
    font-size: 4.3rem;
  }

  h3 {
    font-size: 2.9rem;
  }

  h4 {
    font-size: 2.2rem;
  }


  h5 {
    font-size: 1.8rem;
  }

  p,
  span {
    font-size: 1.5rem;
  }

  .small {
    font-size: 1.3rem;
  }
}