*{
    scroll-behavior: smooth;
}

@media screen and (max-width: 639px),
screen and (max-device-width:639px) {
    header {
        display: none;
    }
}

body {
    margin: 0;
    outline: none;
    background-color: #cd6fda;
    max-width: 100%;
}

header {
    position: fixed;
    z-index: 14;
    background-color: #fff;
    width: 100%;
}

nav {
    min-height: 10vh;
}

nav li {
    display: inline-flex;
    padding: 18px 10px;
    position: relative;
    font-size: 0.7em;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: #0D1E4C;
}

/*nav end*/

#nom {
    text-align: center;
    background-image: url(https://media.istockphoto.com/id/1345186050/fr/vectoriel/fond-abstrait-bleu-aquarelle-rose-galaxie-couleur-pastel-arc-en-ciel-fantastique.jpg?s=612x612&w=0&k=20&c=TBJv5q54qX4vd_qNzCFnAAvNHbZZezaecsnd_aEQKeA=);
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    color: white;
}

#prest {
    padding: 5em 8em 0;
}

#prest span {
    font-family: 'Luminari', cursive;
    color: black;
}

#flech {
    margin-top: 6em;
}

/*page d'acceuil end*/

#moi {
    background: linear-gradient(#DED1FF, #FDD1FF);
    min-height: 80vh;
    width: 100%;
    color: #fff;
    padding: 88px 0 40px;
    text-align: center;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#mtxt {
    width: 500px;
}

#moi div p {
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    text-align: justify;
}

/*a propos de moi end*/

#competence {
    background: linear-gradient(to right, #fff 0, #fff 50%, #FCF8FF 50%, #FCF8FF 100%);
    padding-bottom: 60px;
    padding-top: 60px;
    color: #0D1E4C;
    box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
    display: inline-block;
    width: 100%;
}

.floleft {
    float: left;
    width: 50%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 1em 0.5em auto 1em;
    text-align: center;
}

.compe li {
    opacity: 1;
    transform: translateY(0);
    display: inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    background: #F2E4FE;
    overflow: hidden;
}

.spacel {
    padding-left: 1em;
}

.spacer {
    padding-right: 1em;
}

.floright {
    float: right;
    width: 50%;
}

.floright h3 {
    padding-left: 2em;
}

/*Competence end*/

#portfolio {
    background-color: #E694FF;
    padding: 48px 0;
    text-align: center;
    color: #fff;
    box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
    height: 100vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.element {
    -ms-overflow-style: none;
}

.element {
    overflow: -moz-scrollbars-none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.case {
    margin-top: 1em;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden
}

.tit {
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: -50px;
    left: 0px;
}

#ptab li {
    float: left;
    list-style: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}

#contenu {
    position: relative;
}

#projet,
#loisir {
    width: 300px;
    min-height: 100px;
    padding: 30px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 5;
    /**/
}

#tab1,
#projet {
    background-color: #EAA3FF;
    min-height: 380px;
    width: 83%;

}

#tab2,
#loisir {
    background-color: #EDB0FF;
    min-height: 380px;
    width: 83%;
}

#modal {
    display: none;
    z-index: 15;
}

.modal {
    margin: auto;
    padding-top: 5%;
    width: 50%;
    height: 80%;
}

.modal img {
    animation-name: zoom;
    animation-duration: 0.6s;
    display: block;
    padding: 10px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.2), 0 10px 20px rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    border: 1px solid white;
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

.thum-img {
    float: left;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}

/*portfolio end*/
#contact,
footer p {
    text-align: center;
}