* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  outline: none;
  background-color: #cd6fda;
  max-width: 100%;
  overflow-x: hidden;
}

#ftop {
  right: 1em;
  bottom: 1em;
  position: fixed;
  opacity: 80%;
  z-index: 16;
  display: none;
}

#ftop:hover,
#flech:hover {
  opacity: 1;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1020px) {
  .skills-diagram {
    font-size: 12px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 650px),
screen and (max-device-width:650px) {

  .skills-diagram {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills-diagram {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .skills-diagram {
    font-size: 6px;
  }
}

@media screen and (max-width: 330px) {
  .skills-diagram {
    font-size: 4px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 16;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 70%;
    transform: translate(-5%, -50%);
    z-index: 16;
    transition: all 0.7s ease;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    right: 0;
    position: fixed;
    background: linear-gradient(200deg, #ed8ae5, #7773f5);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

body {
  margin: 0;
  outline: none;
  background-color: #cd6fda;
  max-width: 100%;
  overflow-x: hidden;
  /**/
}

header {
  position: fixed;
  z-index: 16;
  width: 100%;
}

nav {
  /* height: 5vh;
  position: absolute; */
  height: 3.5rem;
  width: 100vw;
  /* background-color: linear-gradient(200deg,#ec77ab,#7873f5); */
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(199, 130, 208, 0.884);
  display: flex;
  position: fixed;
  z-index: 16;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #61DAFB;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*nav end*/

#nom {
  text-align: center;
  background-image: url(https://media.istockphoto.com/id/1345186050/fr/vectoriel/fond-abstrait-bleu-aquarelle-rose-galaxie-couleur-pastel-arc-en-ciel-fantastique.jpg?s=612x612&w=0&k=20&c=TBJv5q54qX4vd_qNzCFnAAvNHbZZezaecsnd_aEQKeA=);
  background-size: 100% 100%;
  width: 100%;
  min-height: 100vh;
  color: white;
}

#prest {
  padding: 5em 8em 0;
}

#prest span {
  font-family: 'Luminari', cursive;
  color: black;
}

#flech {
  margin-top: 6em;
  opacity: 80%;
}

/*page d'acceuil end*/

#moi {
  background: linear-gradient(#DED1FF, #FDD1FF);
  min-height: 80vh;
  width: 100%;
  color: #fff;
  padding: 88px 0 40px;
  text-align: center;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#mtxt {
  width: 500px;
}

#moi div p {
  padding-top: 20px;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  text-align: justify;
}

/*a propos de moi end*/

#competence {
  background: linear-gradient(to right, #fff 0, #fff 50%, #FCF8FF 50%, #FCF8FF 100%);
  padding-bottom: 60px;
  padding-top: 60px;
  color: #0D1E4C;
  box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
  display: inline-block;
  width: 100%;
}

.floleft {
  float: left;
  width: 50%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 0 0.5em auto 1em;
  text-align: center;
}


.skills-diagram {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}


.skills-diagram .item {
  position: relative;
  color: #fff !important;
  display: inline-block;
  vertical-align: top;
  margin: 1em;

  border-style: solid;
  border-width: 1px;
  border-radius: 50%;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  width: 4em;
  height: 4em;
  line-height: 4em;
  opacity: 0.8;
}

.skills-diagram .item:hover {
  opacity: 1;
}

.skills-diagram .skill-1 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 1 / 1 / 2 / 2;
}

.skills-diagram .skill-2 {
  background-color: #D9BFFD;
  border-color: #D9BFFD;
  grid-area: 2 / 2 / 3 / 3;
}

.skills-diagram .skill-3 {

  background-color: #E6C9FD;
  border-color: #E6C9FD;
  grid-area: 3 / 3 / 4 / 4;
}

.skills-diagram .skill-4 {

  background-color: #C2CCFD;
  border-color: #C2CCFD;
  grid-area: 4 / 2 / 5 / 3;
}

.skills-diagram .skill-5 {

  background-color: #D6B5FD;
  border-color: #D6B5FD;
  grid-area: 5 / 1 / 6 / 2;
}

.skills-diagram .skill-6 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 3 / 1 / 4 / 2;
}

.skills-diagram .skill-7 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 1 / 3 / 2 / 4;
}

.skills-diagram .skill-8 {

  background-color: #C3BAFD;
  border-color: #C3BAFD;
  grid-area: 5 / 3 / 6 / 4;
}

.skills-diagram .skill-9 {

  background-color: #C3BAFD;
  border-color: #C3BAFD;
  grid-area: 2 / 4 / 3 / 5;
}

.skills-diagram .skill-10 {
  background-color: #D6B5FD;
  border-color: #D6B5FD;
  grid-area: 4 / 4 / 5 / 5;
}

.spacel {
  padding-left: 1em;
}

.spacer {
  padding-right: 1em;
}

.floright {
  float: right;
  width: 50%;
}

.floright h3 {
  padding-left: 2em;
}

/*Competence end*/

#portfolio {
  background-color: #E694FF;
  padding: 48px 0;
  text-align: center;
  color: #fff;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
  height: 80vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.element {
  -ms-overflow-style: none;
}

.element {
  overflow: -moz-scrollbars-none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.case {
  margin-top: 1em;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden
}

.tit {
  background: rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 150px;
  position: absolute;
  bottom: -50px;
  left: 0px;
}

#ptab li {
  float: left;
  list-style: none;
  width: 40%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}

#contenu {
  position: relative;
}

#projet,
#loisir {
  width: 300px;
  min-height: 100px;
  padding: 30px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 5;
  min-height: 200px;
  width: 83%;
  /**/
}

#tab1,
#projet {
  background-color: #EAA3FF;

}

#tab2,
#loisir {
  background-color: #EDB0FF;
}

#modal {
  display: none;
  z-index: 17;
}

.modal {
  margin: auto;
  padding-top: 5%;
  width: 50%;
  height: 80%;
}

.modal img {
  animation-name: zoom;
  animation-duration: 0.6s;
  display: block;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.2), 0 10px 20px rgb(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 1px solid white;
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

.thum-img {
  float: left;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

/*portfolio end*/
#contact,
footer p {
  text-align: center;
}