* {
  scroll-behavior: smooth;
}

#ftop {
  right: 1em;
  bottom: 1em;
  position: fixed;
  opacity: 0.8;
  z-index: 16;
  display: none;
}

#ftop:hover,
#flech:hover {
  opacity: 1;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1020px) {
  .skills-diagram {
    font-size: 12px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 650px),
screen and (max-device-width:650px) {

  .skills-diagram {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .skills-diagram {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .skills-diagram {
    font-size: 6px;
  }
}

@media screen and (max-width: 330px) {
  .skills-diagram {
    font-size: 4px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 16;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 16;
    transition: all 0.7s ease;
  }

  .nav-links {
    margin: 0;
    padding: 0;
    right: 0;
    position: fixed;
    background: linear-gradient(200deg, #F3D7FE, #C1A7FD);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(100in at 90% -10%);
    -webkit-clip-path: circle(100in at 90% -10%);
    pointer-events: all;
    height: 100vh;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

body {
  margin: 0;
  outline: none;
  background-image: url(https://media.istockphoto.com/id/1345186050/fr/vectoriel/fond-abstrait-bleu-aquarelle-rose-galaxie-couleur-pastel-arc-en-ciel-fantastique.jpg?s=612x612&w=0&k=20&c=TBJv5q54qX4vd_qNzCFnAAvNHbZZezaecsnd_aEQKeA=);
  background-size: 100% 100%;
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 16;
  width: 100%;
}

nav {
  height: 3.5rem;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 3px 20px rgba(199, 130, 208, 0.884);
  display: flex;
  position: fixed;
  z-index: 16;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #458BF4;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #458BF4;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*nav end*/

#nom {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  color: white;
}

#prest {
  padding: 5em 8em 0;
}

#prest span {
  font-family: 'Nothing You Could Do', cursive;
  color: black;
}

#flech {
  margin-top: 6em;
  opacity: 0.8;
}

/*page d'acceuil end*/

#moi {
  background: linear-gradient(#DED1FF, #FDD1FF);
  min-height: 80vh;
  width: 100%;
  color: #fff;
  padding: 88px 0 40px;
  text-align: center;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#mtxt {
  width: 500px;
}

#moi div p {
  padding-top: 20px;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  text-align: justify;
}

#moi strong {
  color: rgb(171, 68, 199);
}

/*a propos de moi end*/
#parcours h1 {
  text-align: center;
  color: white;
  margin: 0 auto 1em auto;
  padding-top: 3em;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213, 213, 213);
  background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
  background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
  background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
  background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #fca2fe;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #fca2fe;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #fca2fe;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #fca2fe;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/*parcours end*/
#competence {
  background: linear-gradient(to right, #fff 0, #fff 50%, #FCF8FF 50%, #FCF8FF 100%);
  padding-bottom: 60px;
  padding-top: 60px;
  color: #0D1E4C;
  box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  width: 100%;
}

.floleft {
  float: left;
  width: 50%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 0 0.5em auto 1em;
  text-align: center;
}

.floleft h3 {
  padding-right: 1em;
  padding-bottom: 1em;
}

.floright {
  float: right;
  width: 50%;
}

.floright h3 {
  padding-left: 2em;
}

.skills-diagram {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


.skills-diagram .item {
  position: relative;
  color: #fff !important;
  display: inline-block;
  vertical-align: top;
  margin: 0;

  border-style: solid;
  border-width: 1px;
  border-radius: 50%;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  width: 4em;
  height: 4em;
  line-height: 4em;
  opacity: 0.8;
}

.skills-diagram .item:hover {
  opacity: 1;
}

.skills-diagram .skill-1 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 1 / 1 / 2 / 2;
  width: 6em;
  height: 6em;
  line-height: 6em;
}

.skills-diagram .skill-2 {
  background-color: #D9BFFD;
  border-color: #D9BFFD;
  grid-area: 2 / 2 / 3 / 3;
  width: 6em;
  height: 6em;
  line-height: 6em;
}

.skills-diagram .skill-3 {

  background-color: #E6C9FD;
  border-color: #E6C9FD;
  grid-area: 3 / 3 / 4 / 4;
  width: 6em;
  height: 6em;
  line-height: 6em;
}

.skills-diagram .skill-4 {

  background-color: #C2CCFD;
  border-color: #C2CCFD;
  grid-area: 4 / 2 / 5 / 3;
  width: 5em;
  height: 5em;
  line-height: 5em;
}

.skills-diagram .skill-5 {

  background-color: #D6B5FD;
  border-color: #D6B5FD;
  grid-area: 5 / 1 / 6 / 2;
  width: 5em;
  height: 5em;
  line-height: 5em;
}

.skills-diagram .skill-6 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 3 / 1 / 4 / 2;
}

.skills-diagram .skill-7 {

  background-color: #E6B9FE;
  border-color: #E6B9FE;
  grid-area: 1 / 3 / 2 / 4;
  width: 5em;
  height: 5em;
  line-height: 5em;
}

.skills-diagram .skill-8 {

  background-color: #C3BAFD;
  border-color: #C3BAFD;
  grid-area: 5 / 3 / 6 / 4;
}

.skills-diagram .skill-9 {

  background-color: #C3BAFD;
  border-color: #C3BAFD;
  grid-area: 2 / 4 / 3 / 5;
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.skills-diagram .skill-10 {
  background-color: #D6B5FD;
  border-color: #D6B5FD;
  grid-area: 4 / 4 / 5 / 5;
}

.spacel {
  padding-left: 1.5em;
}

.spacer {
  padding-right: 1em;
}

/*Competence end*/

#portfolio {
  padding: 48px 28px 0 28px;
  text-align: center;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
  height: 80vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.element {
  -ms-overflow-style: none;
}

.element {
  overflow: -moz-scrollbars-none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.case {
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden
}

.tit {
  background: rgba(0, 0, 0, 0.5);
  height: 60px;
  width: 200px;
  position: absolute;
  bottom: -60px;
  left: 0px;
  color: white;
}

.tit p {
  line-height: 15px;
}

#ptab {
  padding-inline-start: 0;
}

#ptab li {
  display: inline-block;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}

@keyframes pli-color {

  0% {
    background-image: linear-gradient(#F5BDFF, #DEBDFF, #C8BDFF);
  }

  50% {
    background-image: linear-gradient(#C8BDFF, #F5BDFF, #DEBDFF);
  }

  100% {
    background-image: linear-gradient(#DEBDFF, #C8BDFF, #F5BDFF);
  }
}

#ptab li:hover {
  color: white;
  animation: pli-color 0.3s linear infinite;
}

#contenu {
  position: relative;
}

#projet,
#loisir {
  width: 100%;
  min-height: 100px;
  padding-bottom: 8%;
  position: absolute;
  top: 15px;
  z-index: 5;
  min-height: 200px;
}

#modal {
  display: none;
  z-index: 17;
}

.modal {
  margin: auto;
  padding-top: 5%;
  width: 50%;
  height: 80%;
}

.modal img {
  animation-name: zoom;
  animation-duration: 0.6s;
  display: block;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 6px rgb(0, 0, 0, 0.2), 0 10px 20px rgb(0, 0, 0, 0.2);
  border-radius: 12px;
  border: 1px solid white;
}

@keyframes zoom {
  from {
    transform: scale(0.1)
  }

  to {
    transform: scale(1)
  }
}

.thum-img {
  float: left;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  cursor: zoom-in;
}

/*portfolio end*/
#contact,
footer p {
  text-align: center;
}

#contact a {
  opacity: 0.8;
}

.iconpbox {
  width: 50px;
  height: 50px;
  padding: 7px 2.5px 2.5px;
  border-radius: 50px;
  transition: 0.8s ease-out;
  margin-bottom: 0;
}

.iconpbox:hover {
  background: white;
  transform: rotate(180deg) scale(.8, .8);
}

#contact {
  padding-top: 1em;
}

#fin {
  background-color: #D6B5FD;
  padding: 1px;
  box-shadow: inset 0 1px 16px rgba(0, 0, 0, .5);
}