.fullscreenLoader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lottie {
  width: 520px;
  height: 520px;
}
