.skillSphere {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1.2rem .8rem 1.2rem .8rem;
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    background: rgb(255, 250, 244);

    &:hover:not(.active) {
        transform: translateY(-8px) scale(1.02);
        box-shadow: 0 12px 32px rgba(246, 181, 59, 0.286);
        border-color: #f6b23bac;
    }

    &.active {
        border: 1px solid #f6ab3bac;
        box-shadow: 0 4px 16px rgba(246, 168, 59, 0.523);
        transform: scale(1.05);
        background: linear-gradient(360deg, #faa153d0 0%, #fee8c4 90%);

        &::after {
            content: '';
            position: absolute;
            top: -50%;
            right: -50%;
            width: 200%;
            height: 200%;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.237) 0%, transparent 80%);
            animation: shimmer 3s infinite;
        }
    }
}

.sphereTitle {
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.sphereTitleText {
    font-weight: bold;
}


@media (max-width: 768px) {
    .skillSphere {
        padding: 1rem .6rem 1rem .6rem;
        border-radius: 16px !important;
        grid-area: auto !important;

        &.active {
            border: none;
            transform: scale(1);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        }
    }

}