.popupModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 2rem;
}

.popupContent {
    font-size: x-large;
    padding-bottom: 2rem;
    text-align: left;

    .affichageText {
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 0;
    }

    .groupeChampVerification {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .etiquetteChamp {
            margin-bottom: 0.5rem;
            text-align: left;

            h4 {
                margin: 0;
                font-size: large;
                padding: 0;
                font-weight: 600;
            }
        }

        .champSaisie {
            padding: 1rem 1.5rem;
            font-size: medium;
        }
    }

}

.popupBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .popupBtns {
        grid-template-columns: 1fr;
    }
}