.popupModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 2rem;

    .popupContent {
        padding-bottom: 2rem;

        h3 {
            font-weight: 700;
            font-size: x-large;
            margin-top: 0;
        }

        .champSaisie {
            padding: 1.2rem;
        }

        .etiquetteChamp {
            font-weight: 400;
        }
    }
}


.popupBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
}