.textEditorContrainer {
    position: relative;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    background: white;
    min-height: 170px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    .textEditorToolBar {
        background-color: #f5f5f5;
        border-bottom: 1px solid #e5e7eb;
        border-radius: 8px 8px 0 0;
        overflow-x: auto;
    }
}

.textEditorContent {
    min-height: 160px;
}

.textEditorProgressBar {
    margin: 0;
    bottom: 0;
    scale: 1.05;
    position: sticky;
}