.aboutSection {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.aboutImage {
  display: block;
  width: 100%;
  height: auto;
}

.aboutContent {
  padding: 1rem 2rem;
}

.overlayText {
  position: absolute;
  top: 30%;
  right: 2.5rem;
  width: 25%;
}

@media (max-width: 1400px) and (min-width: 768px),
(max-width: 767px) {
  .aboutSection {
    align-items: flex-start;
  }

  .aboutImage {
    width: 100%;
    margin-top: 0;
  }

  .aboutContent {
    padding: 0 1rem;
  }
}

@media (max-width: 1400px) and (min-width: 768px) {
  .overlayText {
    top: 27%;
    width: 30%;
    right: .5rem;
  }
}

@media (max-width: 767px) {
  .overlayText {
    position: relative;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    right: 0;
  }
}