.educationSection {
  display: flex;
  overflow: hidden;
  height: 95vh;
  min-height: 700px;
  position: relative;

  a {
    color: #fafafa;
    text-decoration: underline;
    text-decoration-color: #fafafa;
  }
}

.educationTitle {
  position: absolute;
  right: 1rem;
  z-index: 2;
}

.educationItem {
  flex: 1;
  position: relative;
  background-size: cover;
  background-position: 77%;
}

.eduBackgroundOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  text-align: center;
}

.eduContent {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-top: 25%;
  padding: 1.3rem 1rem;

  #title {
    height: 30%;
  }

  #major {
    height: 15%;
    margin-top: 0rem;
    margin-bottom: 0rem;

    p {
      font-style: italic;
    }
  }
}

.eduPeriod {
  font-weight: bold;
  color: #60a5fa;
  display: block;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.eduDetails {
  background: #1e3b8a29;
  border-radius: 3% 15% 3% 15%;
  padding: .2rem 1rem .2rem 1rem;
  width: fit-content;
  position: relative;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  p,
  span {
    color: #fafafa;
    text-align: left;
    position: relative;
    margin: .5rem;
  }

  a:hover {
    color: #1e40af;
  }
}

.eduDetails:before {
  content: " ";
  height: 90%;
  width: 100%;
  margin-left: -3px;
  position: absolute;
  background: #2648a5a3;
  top: -1px;
  left: -1px;
  border-radius: 20% 30% 20% 25%;
  padding: .55rem 0.5rem .55rem 0rem;
}

@media (max-width: 1400px) {
  .educationSection {
    flex-direction: column;
    min-height: 800px;
  }

  .eduContent {
    height: 100%;
    margin: auto;

    h3 {
      margin: .5rem auto 0 auto;
    }

    #title {
      height: 20%;
    }

    #major {
      margin: 0 auto 0 auto;
    }
  }

  .eduDetails {
    width: 25rem;
  }
}

@media (max-width: 600px) {
  .educationSection {
    min-height: 950px;
  }

  .educationTitle {
    display: none;
  }

  .eduDetails {
    width: 22rem;
  }
}