.educationSection {
  display: flex;
  overflow: hidden;

  h2,
  h3 {
    margin: 0;
  }

  a {
    color: #fafafa;
    text-decoration: underline;
    text-decoration-color: #fafafa;
  }
}

.eduPeriod {
  font-weight: bold;
  color: #60a5fa;
  display: block;
  margin-top: .3rem;
  margin-bottom: 0rem;
}

#major {
  font-style: italic;
  margin-top: 1.1rem;
  margin-bottom: 0rem;
}

.educationTitle {
  position: absolute;
  top: 4.4rem;
  right: 1rem;
  z-index: 2;
}

.eduBackgroundOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.92);
  width: 100%;
  height: 100%;
  text-align: center;
}

.educationItem {
  flex: 1;
  position: relative;
  transition: flex 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  ;
  background-size: cover;
  background-position: 77%;
}

.educationItem.active {
  flex: 3;

  .eduBackgroundOverlay {
    background: rgba(255, 255, 255, 0.96);
  }

  .eduDetails {
    background: #1e3b8a29;
    border-radius: .8rem 4rem .8rem 2rem;
    padding: 2rem 1rem 2rem 1rem;
    width: 80%;
    position: relative;
    // margin-top: 2.5rem;
    margin: 2.5rem auto 0 auto;
    animation: slideFromRight 0.5s ease-out;

    li {
      color: #fafafa;
      text-align: left;
      position: relative;
    }
  }

  .eduDetails:before {
    content: " ";
    height: 90%;
    width: 100%;
    margin-left: -3px;
    position: absolute;
    background: #2648a5a3;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: .85rem 0.5rem 1rem 0rem;
    animation: slideFromLeft .9s ease-out;
  }
}

.eduContent {
  position: relative;
  top: -1.3rem;
}

@media (max-width: 1400px) {
  .educationSection {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .educationTitle {
    display: none;
  }
}