.hobbiesSection {
    padding: auto 2rem 0 2rem;
    background: black;
    position: relative;

    h2 {
        text-align: center;
        padding-top: 5rem;
        color: white;
    }

    .phrase {
        text-align: center;
        margin-bottom: 1rem;
        color: white;
    }

}

.hobbiesContainer {
    align-items: center;
    padding: 0 2% 0 2%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper2 {
    height: 70vh;
    width: 100%;

    .swiper-slide {
        position: relative;
        left: 0;
        top: 0;
        width: 130%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
    }
}


.mySwiper {
    height: 20vh;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}


.partText {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem 5rem .5rem 5rem;
}

.title,
.subtitle,
.text {
    color: white;
    text-align: start;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
}

.subtitle {
    font-style: italic;
    margin-top: .2rem;
}

.text {
    margin-top: 1rem;
    line-height: 1.3;
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);

    span {
        color: var(--swiper-theme-color);
    }
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}