.hobbiesSection {
    padding: auto 2rem 0 2rem;
    background: white;
    position: relative;
    transition: all 0.4s ease;

    h2 {
        text-align: center;
        padding-top: 1rem;
    }
}

.hobbyPhrase {
    text-align: center;
}

.hobbiesContainer {
    align-items: center;
    padding: 0 auto 0 auto;
    height: 100%;

    &.RectangleOverlay {
        width: 100%;
        height: 100%;
    }
}

.partText {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem 5rem .5rem 5rem;

    .title,
    .subtitle,
    .text {
        color: white;
        text-align: start;
        margin: 0;
        padding: 0;
    }

    .title {
        font-weight: bold;
    }

    .subtitle {
        font-style: italic;
        margin-top: .2rem;
    }

    .text {
        margin-top: 1rem;
        line-height: 1.3;
    }
}

.swiper {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.mySwiper {
    height: 80vh;
    min-height: 1000px;
    width: 100%;
    --swiper-pagination-bottom: -1px;

    .swiper-slide {
        position: relative;
        left: 0;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
    }

    &.isFs {
        width: 100vw;
        height: 100vh;
        min-height: unset;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-wrapper {
            height: 100%;
            align-items: center;
        }

        .swiper-slide {
            width: 100vw !important;
            height: 100vh;
            display: flex;
            background: #000;
            justify-content: center;
            align-items: center;
        }

        .swiper-zoom-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            cursor: zoom-out;
        }

        .autoplay-progress {
            right: 2rem;
            bottom: 2rem;
        }
    }
}

.swiper-slide {
    text-align: center;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: zoom-in;

    img {
        max-height: 100%;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-zoom-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);

    span {
        color: var(--swiper-theme-color);
    }
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}